.countdown {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 5rem 3rem;
  background: var(--section-bg);
}

.countdown__description {
  text-align: center;
  font-size: 1.4em;
  margin: 1rem 0 0;
}

.countdown__button {
  margin: 3rem auto;
  display: block;
}

@media only screen and (max-width: 768px) {
  .countdown {
    font-size: 1.4rem;
  }
}

.single .countdown {
  min-height: 45rem;
  background: linear-gradient(
      to right,
      transparent,
      10%,
      white 40%,
      white 60%,
      90%,
      transparent
    ),
    linear-gradient(to bottom, white, transparent 10%, transparent 90%, white),
    left 70% / 50% auto no-repeat url(../images/home-paprikapasta.jpg),
    right 80% / 50% auto no-repeat url(../images/home-feigenkuchen.jpg);
}

.single .countdown--done {
  display: block;
}

.single .countdown--done .countdown__timer {
  display: none;
}

.single .countdown__description {
  list-style: inside url(../images/check.svg);
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .single .countdown {
    background: linear-gradient(190deg, #fffd, #fffa),
      50% 80% / cover no-repeat url(../images/home-feigenkuchen.jpg);
  }
}
