.countdown {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 5rem 3rem;
  background: var(--section-bg);
}

.countdown__timer {
  display: flex;
  justify-content: center;
  width: auto;
}

.countdown__description {
  text-align: center;
  font-size: 1.4em;
  margin: 1rem 0 0;
}

.countdown__button {
  margin: 3rem auto;
  display: block;
}

.countdown--inline {
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  padding: 1rem 0;
  box-shadow: 0 0 20px #00000080;
}

.countdown--inline .countdown__button {
  padding: 1rem 1.5rem;
  margin: 0 1rem;
}

.countdown--inline .countdown__timer {
  margin: 0;
}

.countdown--done {
  display: none;
}

@media only screen and (max-width: 959px) {
  .countdown--inline {
    font-size: 1.4rem;
    gap: 2rem;
    padding: 1rem;
  }

  .countdown--inline .countdown__button {
    font-size: 1.2rem;
    width: min-content;
    padding: 0.7rem 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .countdown {
    font-size: 1.4rem;
  }
}

.single .countdown {
  min-height: 45rem;
  background: linear-gradient(
      to right,
      transparent,
      10%,
      white 40%,
      white 60%,
      90%,
      transparent
    ),
    linear-gradient(to bottom, white, transparent 10%, transparent 90%, white),
    left 70% / 50% auto no-repeat url(../images/home-paprikapasta.jpg),
    right 80% / 50% auto no-repeat url(../images/home-feigenkuchen.jpg);
}

.single .countdown--done {
  display: block;
}

.single .countdown--done .countdown__timer {
  display: none;
}

.single .countdown__description {
  list-style: inside url(../images/check.svg);
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .single .countdown {
    background: linear-gradient(190deg, #fffd, #fffa),
      50% 80% / cover no-repeat url(../images/home-feigenkuchen.jpg);
  }
}

/* 
Responsive flipclock and smaller flipclock
 */
.countdown {
  --height: 50px;
  --width: 36px;
  --dot-size: 6px;
}

.countdown--inline {
  --height: 40px;
  --width: 28px;
  --dot-size: 5px;
}

.countdown--inline .flip-clock-label {
  display: none;
}

.flip-clock-wrapper ul {
  height: var(--height);
  width: var(--width);
  line-height: var(--height);
  margin: calc(1 / 8 * var(--width));
}
.flip-clock-wrapper ul li {
  line-height: var(--height);
}
.flip-clock-wrapper ul li a div.up:after {
  top: calc(2 / 3 * var(--width));
}
.flip-clock-divider {
  height: var(--height);
  width: calc(2 * var(--dot-size));
}
.flip-clock-dot {
  height: var(--dot-size);
  width: var(--dot-size);
  left: calc(var(--dot-size) / 2);
}
.flip-clock-dot.top {
  top: calc(2 / 5 * var(--height));
}
.flip-clock-dot.bottom {
  bottom: calc(1 / 5 * var(--height));
}

.flip-clock-divider .flip-clock-label {
  font-size: calc(1 / 3 * var(--width));
  right: calc(-2.25 * var(--width)) !important;
  width: calc(2 * var(--width));
}

.flip-clock-wrapper ul li a div div.inn {
  font-size: var(--width);
}

@media (max-width: 480px) {
  .countdown {
    --height: 27px;
    --width: 20px;
    --dot-size: 4px;
  }

  .countdown--inline {
    --height: 21px;
    --width: 15px;
    --dot-size: 3px;
  }
}
