/.vscode
/log
/provision
/vendor

# Only include themes and deploy script
/public_html/*
!/public_html/wp-content/
/public_html/wp-content/*
!/public_html/wp-content/mu-plugins/
!/public_html/wp-content/themes/
!/public_html/wp-content/deploy.php
/public_html/wp-content/themes/twenty*

# Only include neccessary test data (no config)
/*.sql
/tests/_*/
.env.testing
