/.vscode
/log
/provision
/vendor

# Only include themes and deploy script
/public_html/*
!/public_html/wp-content/
/public_html/wp-content/*
!/public_html/wp-content/mu-plugins/

!/public_html/wp-content/languages/
/public_html/wp-content/languages/*
!/public_html/wp-content/languages/supportcandy
!/public_html/wp-content/languages/rcp

!/public_html/wp-content/plugins/
/public_html/wp-content/plugins/*
!/public_html/wp-content/plugins/wp-bookmarks/

!/public_html/wp-content/themes/
/public_html/wp-content/themes/twenty*

!/public_html/wp-content/deploy.php

# Only include neccessary test data (no config)
/*.sql
/tests/_*/
.env.testing
