/.vscode
/log
/provision
/vendor

/public_html/*
!/public_html/wp-content/
/public_html/wp-content/*

# MU-Plugins
!/public_html/wp-content/mu-plugins/

# Include some translations
!/public_html/wp-content/languages/
/public_html/wp-content/languages/*
!/public_html/wp-content/languages/supportcandy
!/public_html/wp-content/languages/rcp
!/public_html/wp-content/languages/plugins
/public_html/wp-content/languages/plugins/*
!/public_html/wp-content/languages/plugins/wpb-de_DE.*
!/public_html/wp-content/languages/plugins/wp-recipe-maker-de_DE.*
!/public_html/wp-content/languages/plugins/dco-comment-attachment-de_DE.*

# Include `wp-bookmarks` plugin with custom edits (abandoned plugin)
!/public_html/wp-content/plugins/
/public_html/wp-content/plugins/*
!/public_html/wp-content/plugins/wp-bookmarks/

# Themes: Only include `daily-dish-pro`
!/public_html/wp-content/themes/
/public_html/wp-content/themes/*
!/public_html/wp-content/themes/daily-dish-pro/

# Only include neccessary test data (no config)
/*.sql
/tests/_*/
.env.testing
