:root {
  --section-bg: linear-gradient(10deg, hsl(40 52% 84%), hsl(40 52% 94%));
  --ul-margin-left: 3rem;
  --li-padding-left: 0.5rem;
  --content-width: 1280px;
  --bubble-size: 24rem;
}

/*
Resets / Overrides
*/
.entry-content {
  max-width: 100% !important;
}

.content {
  padding: 0;
}

.footer-widgets {
  padding-top: 20px;
}

.full-width-reset {
  max-width: var(--content-width);
  position: relative;
}

/* 
Global styles 
*/
.content section {
  margin: 7rem auto;
  max-width: var(--content-width);
}

/* 
Hero 
*/
.hero {
  padding: 0 5rem;
  background: center / cover no-repeat;
  background-image: linear-gradient(#0003, #0003),
    url(../../uploads/2020/08/hero-home.jpeg);
  text-align: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.hero__title {
  font-weight: bold;
  font-size: 6rem;
  color: white;
}

.hero__subtitle {
  font-style: italic;
  color: white;
  font-size: 3rem;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .hero {
    padding: 0 2rem;
    height: 400px;
    background-image: linear-gradient(#0003, #0003),
      url(../../uploads/2020/08/hero-home-1024x522.jpeg);
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__subtitle {
    font-size: 2rem;
  }
}

/* 
Overview 
*/
.overview {
  overflow-x: hidden;
  font-size: 1.2em;
  padding-left: calc(1.3 * var(--bubble-size));
  padding-right: calc(1.3 * var(--bubble-size));
}

.overview .bubble {
  --offset: calc(0.8 * var(--bubble-size));
}

.overview__item {
  margin-bottom: 5rem;
  text-align: center;
  max-width: 90rem;
}

@media only screen and (max-width: 1280px) {
  .overview {
    padding-left: calc(0.55 * var(--bubble-size));
    padding-right: calc(0.55 * var(--bubble-size));
  }

  .overview .bubble {
    --offset: calc(0.5 * var(--bubble-size));
    --margin: 2rem;
  }
}

@media only screen and (max-width: 959px) {
  .overview {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .overview .bubble {
    display: none;
  }
}

/* 
Introduction 
*/
.introduction {
  margin: 10rem auto;
}

.introduction__heading {
  text-align: center;
}

.introduction__list {
  margin-left: var(--ul-margin-left);
  font-size: 1.2em;
}

.introduction__item {
  margin-bottom: 1rem;
  padding-left: var(--li-padding-left);
  list-style-image: url(images/check.svg);
}

/*
Checkmarks
*/
.checkmarks {
  background: var(--section-bg);
  padding: 5rem;
}

.checkmarks__title {
  text-align: center;
  margin-bottom: 4rem;
}

.checkmarks__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto !important;
  max-width: 1360px;
}

.checkmarks__item {
  list-style-type: none !important;
  /* set flex-basis because of safari, see https://github.com/philipwalton/flexbugs#flexbug-11 */
  flex: 1 1 30rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 3rem;
}

.checkmarks__item::before {
  display: block;
  content: "";
  background: center / contain no-repeat url(images/bootstrap-check-circle.svg);
  /* For #008000, see https://stackoverflow.com/a/53336754/5312432 */
  filter: invert(24%) sepia(82%) saturate(2304%) hue-rotate(95deg)
    brightness(96%) contrast(104%);
  width: 8rem;
  height: 8rem;
}

.checkmarks__heading {
  margin: 0 !important;
  font-weight: bold;
  text-align: center;
}

.checkmarks__text {
  margin-bottom: 0 !important;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .checkmarks__list {
    flex-direction: column;
  }
}

/*
Testimonials
 */
section.testimonials {
  max-width: none;
}

.testimonials__title {
  text-align: center;
  margin-bottom: 3rem;
}

.testimonials__entry {
  border-radius: 1rem;
  background: var(--section-bg);
  box-shadow: 0 0.3rem 1rem #0008;
  list-style-type: none !important;
  padding: 2rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.25s;
}

.testimonials__entry:hover {
  box-shadow: 0 0.5rem 1.5rem #0008;
}

.testimonials__portrait,
/* In case it gets replaced in content editor */
.testimonials__entry img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.testimonials__name {
  display: inline-block;
  font-weight: bold;
  margin: 0 !important;
}

.testimonials__address {
  display: block;
  color: #666;
}

.testimonials__text {
  font-style: italic;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin: 1rem 0 0;
}

/* 
Offer 
*/
.offer .fading-bg__image {
  background-image: url(images/home-feigenkuchen.jpg);
  background-position-y: bottom;
}

.offer__title {
  text-align: center;
}

.offer__list {
  list-style-image: url(images/check.svg);
  margin-left: var(--ul-margin-left);
}

.offer__item {
  margin-bottom: 1.5rem;
  padding-left: var(--li-padding-left);
}

/*
About us
*/
.about-us__image {
  max-width: 250px;
  float: right;
  display: block;
  margin-left: 2rem;
  margin-bottom: -1rem;
}

.about-us__heading {
  text-align: left;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .about-us__image {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
Recipe Slider
*/

.recipe-slider__heading {
  text-align: center;
  padding: 0 2rem;
}

/*
Imagine
*/
.imagine .fading-bg__image {
  background-image: url(images/angie-pose.jpg);
  background-position-y: center;
}

.imagine__heading {
  margin-top: 4rem;
}

.imagine__list {
  list-style-image: url(images/check.svg);
  margin-left: 3rem;
  margin-left: var(--ul-margin-left);
}

.imagine__item {
  margin-bottom: 1.5rem;
  padding-left: var(--li-padding-left);
}

/*
Reason
*/
.reason .fading-bg__image {
  background-image: url(images/home-griechischer-fetakaese.jpg);
  background-position-y: 66%;
}

.reason__list {
  list-style-image: url(images/check.svg);
  margin-left: 3rem;
  margin-left: var(--ul-margin-left);
}

.reason__item {
  margin-bottom: 1.5rem;
  padding-left: var(--li-padding-left);
}

/*
Comparison table
*/
.comparison td,
.comparison th {
  padding: 1rem;
}

.comparison thead td {
  border-top: none;
}

.comparison tbody th {
  border-top: 1px solid #ddd;
}

@media only screen and (max-width: 959px) {
  .comparison thead {
    display: none;
  }

  .comparison td,
  .comparison th {
    display: flex;
    gap: 2rem;
  }

  .comparison thead td {
    display: none;
  }

  .comparison tbody th {
    border-top: 2px solid black;
  }

  .comparison tbody td::before {
    font-style: italic;
    display: inline-block;
    width: 10rem;
    flex-shrink: 0;
    line-break: strict;
  }

  .comparison tbody td:first-of-type::before {
    content: "Buch";
  }

  .comparison tbody td:last-of-type::before {
    content: "Mit\0000adglie\0000adder\0000adbe\0000adreich";
  }
}

@media only screen and (max-width: 480px) {
  .comparison td {
    gap: 1rem;
  }

  .comparison tbody td {
    word-break: break-word;
  }

  .comparison tbody td::before {
    width: 7.5rem;
  }
}

/*
Offer again 
*/
.offer2 .fading-bg__image {
  background-image: url(images/home-paprikapasta.jpg);
  background-position-y: bottom;
}

.offer2__title {
  text-align: center;
}

.offer2__list {
  list-style-image: url(images/check.svg);
  margin-left: var(--ul-margin-left);
}

.offer2__item {
  margin-bottom: 1.5rem;
  padding-left: var(--li-padding-left);
}

/*
Choice
*/
.choice__item {
  list-style-type: inherit;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

/* 
Mission
 */
.mission {
  --gradient: linear-gradient(#0004, #0002);
  background: var(--gradient),
    center / cover no-repeat url(images/angie-josef-abend.jpg);
  margin: 0 !important;
  padding: 5rem 3rem;
  min-height: 60rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-shadow: 0 0 5rem black;
}

.mission > * {
  max-width: 108rem;
  color: white;
}

.mission__title {
  text-align: center;
  margin: 0 auto 4rem !important;
  font-size: 3.6rem;
}

.mission__content {
  margin: 0 auto !important;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .mission {
    background-image: var(--gradient), url(images/angie-josef-abend-mobile.jpg);
  }
}

/* 
FAQs
 */
.homepage-faqs {
}

.homepage-faqs__container {
  overflow: hidden;
  height: 200px;
  -webkit-mask-image: linear-gradient(black 50%, transparent);
  mask-image: linear-gradient(black 50%, transparent);
}

.homepage-faqs__container--open {
  -webkit-mask-image: none;
  mask-image: none;
}

.homepage-faqs__button {
  background-color: #ddd;
  background: linear-gradient(10deg, #bbb, #eee);
  color: #333;
  font-weight: bold;
  display: block;
  width: auto;
  margin: auto;
  border-radius: 1.9rem;
  padding: 1.3rem 2rem;
  box-shadow: 0 0.3rem 1rem #0008;
  transition: all 0.25s;
}

.homepage-faqs__button:hover,
.homepage-faqs__button:focus,
.homepage-faqs__button:active {
  color: black;
  box-shadow: 0 0.5rem 1.5rem #0008;
}

.homepage-faqs__button::before,
.homepage-faqs__button::after {
  content: "\2193";
  display: inline-block;
  transform: scale(1.5, 1);
  font-size: 1.5em;
  font-weight: normal;
  transition: transfrom 0.5s;
  margin: -1em 1em;
  padding-bottom: 0.15em;
}

.homepage-faqs__button--open::before,
.homepage-faqs__button--open::after {
  transform: scale(1.5, 1) rotate(180deg);
}
