.banner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 2em 80px;
	margin: 0 -80px 1em;
	background-color: rgba(148, 0, 108, 0.2);
}

.banner-container>div {
	max-width: 550px;
}

.banner-container img {
	display: block;
	width: 180px;
	opacity: 1;
	margin-right: 2em;
	margin-bottom: 0;
}

.banner-container h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0.4em;
}

.banner-container h2 b {
	margin-bottom: 0.1em;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
}

@supports (-webkit-text-stroke: thin) {
	.banner-container h2 b {
		-webkit-text-stroke: thin;
		letter-spacing: 0.03em;
		word-spacing: .05em;
	}
}

.banner-container p {
	text-align: center;
	margin-bottom: 0.9em;
	font-size: 2rem;
}

.banner-container button {
	display: block;
	border-radius: .8em;
	max-width: max-content;
	margin: 0 auto;
	padding: .8em 2.2em;
	font-weight: bold;
	font-size: 2rem;
	color: #f0f0f0;
	box-shadow: 7px 7px 10px 0 #000000a6, inset -6px -4px 10px #0000003d, inset 6px 4px 10px #ffffffad;
	transition: box-shadow 0.3s ease-out;
}

.banner-container button:hover {
	box-shadow: 7px 7px 10px 0 #000000a6, inset -6px -2px 10px #ffffff61, inset 6px 2px 10px #0000002e;
}

.banner-container a:hover {
	text-decoration: none;
}

@media only screen and (max-width: 1280px) {
	.banner-container {
		padding-left: 40px;
		padding-right: 40px;
		margin-left: -40px;
		margin-right: -40px;
	}
}

@media only screen and (max-width: 768px) {
	.banner-container {
		flex-direction: column;
	}

	.banner-container img {
		margin: 0 auto 2rem;
	}

	.banner-container button {
		margin-bottom: 1rem;
		max-width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.banner-container {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}
}